# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Secrets
.env
.env.local

# OS files
.DS_Store
Thumbs.db
